#
# WARNING: To install letso, follow our guide: https://github.com/vauradkar/letso/blob/main/README.md
#
# Make sure to use the docker-compose.yml of the current release:
#
# https://github.com/vauradkar/letso/blob/release/container/docker-compose.yml
#
# The compose file on main may not be compatible with the latest release.

# For development see:
# - https://github.com/vauradkar/letso/blob/release/docs/contributing.md

name: letso-dev

services:
  letso-server:
    container_name: letso
    command: [ 'letso-dev' ]
    image: letso-dev:latest
    build:
      context: ../
      dockerfile: container/Dockerfile
      target: dev
    restart: unless-stopped
    volumes:
      - ${UPLOAD_LOCATION}/photos:/data
      - /etc/localtime:/etc/localtime:ro
    env_file:
      - .env
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    ports:
      - 2284:2284
